:root {
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Very-mostly-blue: hsl(234, 17%, 12%);

  --main-font: "Red Hat Text", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

body {
  background-color: var(--Very-mostly-blue);
  color: var(--Soft-red);
  font-weight: 700;
}

.section {
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main_timer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.timer {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 48px;
  width: 100%;
}

.top,
.bottom,
.timer .bottom-flip,
.timer .top-flip {
  height: 0.85em;
  width: 90px;
  line-height: 1;
  padding: 0.35em;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto;
}

.top,
.timer .top-flip {
  background-color: var(--Dark-desaturated-blue);
  filter: brightness(0.9);
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}

.top {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.bottom,
.timer .bottom-flip {
  background-color: var(--Dark-desaturated-blue);
  align-items: flex-end;
  height: 41px;
}

.bottom {
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
}

.timer .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.timer .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-in-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

/* content */

.main_title {
  color: var(--White);
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 100px 0;
}

.component {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 180px;
}

.component::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 35px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--Very-mostly-blue);
  z-index: 50;
}

.component::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 35px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--Very-mostly-blue);
  z-index: 50;
}

.component .title {
  color: var(--Grayish-blue);
  font-family: var(--main-font);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 20px;
}

.bg_stars,
.bg_hills {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 0;
}

.socials i {
  position: relative;
  font-size: 22px;
  font-weight: 400;
  color: var(--Grayish-blue);
  cursor: pointer;
  transition: 0.3s;
}

.socials i:hover {
  color: var(--Soft-red);
}

.bg_stars {
  top: 0;
}

.bg_hills {
  bottom: 0;
}

.socials {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .section {
    height: 100vh;
  }
  .timer {
    font-size: 30px;
  }
  .main_timer {
    gap: 15px;
  }
  .top,
  .bottom,
  .timer .bottom-flip,
  .timer .top-flip {
    height: 0.85em;
    width: 60px;
  }
  .component .title {
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .component::after {
    right: -4px;
    top: 20px;
    width: 8px;
    height: 8px;
  }
  .component::before {
    left: -4px;
    top: 20px;
    width: 8px;
    height: 8px;
  }
}
